<div id="ryzom_config_ini-edit">
	{{#new?}}
	<span class="title-orange">{{>folder}}</span> {{>of_the_profile}}<br />
	<input id="ryzom_config_ini-edit-folder" value="{{folder}}"/><br /><br />
	<br /><br />
	{{/new?}}
	{{#edit?}}
	<h2 class="title-orange bold">{{>folder}} {{>of_the_profile}}: {{folder}}</h2><br />
	{{/edit?}}
	<span class="title-orange">{{>app.name}}</span> {{>of_the_profile}}<br />
	<input id="ryzom_config_ini-edit-name" value="{{name}}"/><br /><br />
	<span class="title-orange">{{>shard_profile}}</span> {{>of_the_profile}}<br /><br />
	<select id="ryzom_config_ini-edit-shard">
	{{#shards}}
		<option value="{{_id_}}" {{selected}}>{{_value_}}</option>
	{{/shards}}
	</select>
	<br />
	<div>
		<br />
		<a href="#" onclick="pywebview.api.run('ryzom_config_ini', 'ValidateEditProfile', '{{__id__}}'); return false" class="imgbutton">{{>app.validate}}</a>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="#" class="bg-red padding10 rounded" onclick="pywebview.api.run('ryzom_config_ini', 'Close'); return false" class="imgbutton">{{>app.close}}</a>
		<br /><br />
	</div>
</div>
