<div class="note">
	{{{profiles_infos}}} <strong><a href="#" onclick="pywebview.api.run('app', 'OpenFolder', '{{profiles_location}}'); return false">{{profiles_location}}</a></strong>
</div>
<div class="ryzom_config_ini-profiles ryzom_config_ini-elements" style="height: 48px">
	<span class="bg-orange bold">{{>name}}</span>
	<span class="bg-orange bold folder">{{>folder}}</span>
	<span class="bg-orange bold folder">{{>domain}}</span>
	<span class="bg-orange bold args">{{>used_shortcuts}}</span>
	<span class="bg-orange bold action">{{>edit}}</span>
	<span class="bg-orange bold action">{{>delete}}</span>
</div>
<div class="ryzom_config_ini-profiles ryzom_config_ini-elements">
	{{{profiles}}}
</div>
<div>
	<br />
		<a href="#" onclick="pywebview.api.run('ryzom_config_ini', 'EditProfile'); return false" class="imgbutton" style="background-color: #08c;">{{>new_profile}}</a>
	<br /><br />
</div>
