<div class="note">
{{{shortcuts_infos}}}
</div>
<div class="ryzom_config_ini-shortcuts ryzom_config_ini-elements" style="height: 110px">
	<span class="bg-orange bold">{{>name}}</span>
	<span class="bg-orange bold folder">{{>profile}}</span>
	<span class="bg-orange bold folder">{{>domain}}</span>
	<span class="bg-orange bold total">{{>args}}</span>
	<span class="bg-orange bold action">{{>edit}}</span>
	<span class="bg-orange bold action">{{>enable}}</span>
	<span class="bg-orange bold action">{{>delete}}</span>
</div>
<div class="ryzom_config_ini-shortcuts ryzom_config_ini-elements">
	{{{shortcuts}}}
</div>
<div>
	<br />
	<a href="#" onclick="pywebview.api.run('ryzom_config_ini', 'EditShortcut'); return false" class="imgbutton" style="background-color: #08c;">{{>new_shortcut}}</a>
	<br /><br />
</div>
