<span id="ryzom_config_ini-shortcut-name-{{__id__}}" class="{{disabled}} cycle-{{cycle}}">{{name}}</span>
<span class="folder {{disabled}} cycle-{{cycle}}">
	{{#folder_link?}}
		<a href="#" onclick="pywebview.api.run('app', 'OpenFolder', '{{folder}}'); return false">{{name}}</a>
	{{/folder_link?}}
	{{#folder_break?}}
		<strong style="color: white">{{name}}</strong>
	{{/folder_break?}}
</span>
<span class="domain {{disabled}} cycle-{{cycle}}">{{shard}} {{#folder_link?}}({{domain}}){{/folder_link?}}</span>
<span id="ryzom_config_ini-shortcut-args-{{__id__}}" class="args {{disabled}} cycle-{{cycle}}">{{args}}</span>
<span class="action cycle-{{cycle}}">
	<a href="#" onclick="pywebview.api.run('ryzom_config_ini', 'EditShortcut', '{{__id__}}'); return false"><img src="file:data/icons/edit.png" /></a>
</span>
<span class="action cycle-{{cycle}}">
	{{#disable?}}
		<a href="#" onclick="pywebview.api.run('ryzom_config_ini', 'EnableDisableShortcut', '{{__id__}}'); return false"><img id="ryzom_config_ini-shortcut-{{__id__}}" src="file:data/icons/tick_on.png" /></a>
	{{/disable?}}
	{{#enable?}}
		<a href="#" onclick="pywebview.api.run('ryzom_config_ini', 'EnableDisableShortcut', '{{__id__}}'); return false"><img id="ryzom_config_ini-shortcut-{{__id__}}" src="file:data/icons/tick_off.png" /></a>
	{{/enable?}}
</span>
<span class="action cycle-{{cycle}}">
	{{#remove?}}
		<a href="#" onclick="pywebview.api.run('ryzom_config_ini', 'AskRemoveShortcut', ['{{__id__}}', '{{name}}']); return false"><img src="file:data/icons/remove.png" /></a>
	{{/remove?}}
</span>
