<div id="popup-content">
	<div id="ryzom_installer-warning" class="warning center">{{>error}}</div>
	<br />
	{{error}}
	<br />
	<br />
	<a href="#" onclick="pywebview.api.run('ryzom_installer', 'ClosePopup'); return false" class="ryzom_installer-button">Close</a>
</div>