<div id="ryzom_installer-content" class="hbox flex1">
	{{#have_ryzom_installed?}}
	<div id="ryzom_installer-configure" class="vbox">
		<span class="tooltip-hover">
			<a id="ryzom_installer-configure-button" href="#" onclick="pywebview.api.run('ryzom_installer', 'Configure'); return false"><img style="width: 40px" src="file:data/icons/configurator.png" /></a>
			<span class="tooltip">{{>configure_client}}</span>
		</span>
	</div>
	{{/have_ryzom_installed?}}
	<div id="ryzom_installer-infos-vbox" class="vbox flex1">
		{{#have_ryzom_installed?}}
		<div id="ryzom_installer-infos-hbox" class="hbox flex1">
			<a id="ryzom_installer-check-button" href="#" onclick="pywebview.api.run('ryzom_installer', 'CheckNeedUpdate'); return false">{{>check_installation}}</a>&nbsp;&nbsp;
			<div id="ryzom_installer-version"></div>
		</div>
		{{/have_ryzom_installed?}}
		<div id="ryzom_installer-infos"></div>
	</div>
	{{#have_ryzom_installed?}}
	<div id="ryzom_installer-bar" class="hbox">
		<div class="vbox"  style="justify-content: center">
			<span class="tooltip-hover">
				<span id="ryzom_installer-select-profiles"></span>
				<span class="tooltip">{{>select_profile_to_use}}</span>
			</span>
			<span class="tooltip-hover">
				<span id="ryzom_installer-select-shortcuts"></span>
				<span class="tooltip">{{>select_shortcut_to_use}}</span>
			</span>
		</div>
	</div>
	<div class="tooltip-hover">
		<a id="ryzom_installer-userfolder-button" class="imgbutton" href="#" onclick="pywebview.api.run('ryzom_installer', 'OpenUserFolder'); return false">
			<div class="h">
				<img style="width: 32px" src="file:data/icons/folder.svg" />
			</div>
		</a>
		<span class="tooltip" >{{>open_user_folder}}</span>
	</div>
	{{/have_ryzom_installed?}}
	<div class="tooltip-hover">
		<a id="ryzom_installer-button" class="imgbutton" href="file:#">{{button_label}}</a>
		<span class="tooltip" id="ryzom_installer-tooltip">{{tooltip}}</span>
	</div>
</div>