<select id="ryzom_installer-selected-shortcut" onchange="pywebview.api.run('ryzom_installer', 'SelectShortcut', this.value)">
	{{#shortcuts}}
		<option {{selected}} value="{{_id_}}">{{name}}</option>
	{{/shortcuts}}
</select>
