<br />
<br />
<br />
<br />
<div id="ask-question">
	{{{question}}}
</div>

<div id="ask-answer">
	<br />
	<a href="#" onclick="pywebview.api.run('{{module}}', '{{action}}', ['{{arg}}', '1']); return false" class="imgbutton">{{yes}}</a>
	&nbsp;&nbsp;&nbsp;&nbsp;
	<a href="#" onclick="pywebview.api.run('{{module}}', '{{action}}', ['{{arg}}', '0']); return false" class="imgbutton bg-red padding10 rounded" >{{no}}</a>
	<br /><br />
</div>