{{#view?}}
<div id="menu-{{name}}" class="tooltip-hover">
	<a href="#" onclick="pywebview.api.run('app', 'ShowMainPage', '{{action}}'); return false">
		<img class="menu-icon" src="file:data/icons/{{icon}}" />
	</a>
	<span class="tooltip">{{tooltip}}</span>
</div>
{{/view?}}

{{#window?}}
<div id="menu-{{name}}" class="tooltip-hover">
	<a href="#" onclick="pywebview.api.run('app', 'ShowUrlInNewWindow', '{{action}}'); return false">
		<img class="menu-icon" src="file:data/icons/{{icon}}" />
	</a>
	<span class="tooltip">{{tooltip}}</span>
</div>
{{/window?}}

{{#spawn?}}
<div id="menu-{{name}}" class="tooltip-hover">
	<a href="#" onclick="pywebview.api.run('app', 'LoadModuleInNewWindow', '{{action}}', '{{tooltip}}'); return false">
		<img class="menu-icon" src="file:data/icons/{{icon}}" />
	</a>
	<span class="tooltip">{{tooltip}}</span>
</div>
{{/spawn?}}



{{#open?}}
<div id="menu-{{name}}" class="tooltip-hover">
	<a href="{{action}}" target="_blank">
		<img class="menu-icon" src="file:data/icons/{{icon}}" />
	</a>
	<span class="tooltip">{{tooltip}}</span>
</div>
{{/open?}}

{{#flex?}}
<div style="flex: auto"></div>
{{/flex?}}