<div id="menu-ryzomplay" class="tooltip-hover">
	<a href="#" onclick="pywebview.api.run('ryzom_content_manager', 'ShowRyzomPlay'); return false">
		<img class="menu-icon" src="file:data/icons/play.svg" />
	</a>
	<span class="tooltip">{{>play_ryzom}}</span>
</div>

<div id="menu-ryzomchat" class="tooltip-hover">
	<a href="#" onclick="pywebview.api.run('ryzom_content_manager', 'ShowRyzomChat'); return false">
		<img class="menu-icon" src="file:data/icons/rocketchat.svg" />
	</a>
	<span class="tooltip">{{>ryzom_chat}}</span>
</div>

<div id="menu-me" class="tooltip-hover">
	<a href="https://me.ryzom.com" target="_blank">
		<img class="menu-icon" src="file:data/icons/account.svg" />
	</a>
	<span class="tooltip">{{>me}}</span>
</div>

<div style="flex: auto"></div>

<div id="menu-config" class="tooltip-hover">
	<a href="#" onclick="pywebview.api.run('ryzom_content_manager', 'ShowConfig'); return false">
		<img class="menu-icon" src="file:data/icons/options.svg" />
	</a>
	<span class="tooltip">{{>config}}</span>
</div>