<div id="ryzom_mods-beta-test" class="module-box">
	<strong><img width="24px" src="file:data/icons/warning.svg" /> {{>beta_test_description}}</strong><br /><br />
	<input id="ryzom_mods-beta-state" type="checkbox" onclick="pywebview.api.run('ryzom_mods', 'SwitchBetaTestState')" {{#beta_testing?}}checked{{/beta_testing?}} /> {{>enable_beta_test}}
</div>

<!--
<div id="ryzom_mosd-custom" class="module-box">
	<strong>{{>custom_bg_description}}</strong><br /><br />
	<input id="ryzom_config_ini-yubo-path" style="width: 400px; border: 1px solid black" class="em" type="text" />
	<span id="ryzom_mods-bg-select">
		<a href="#" onclick="pywebview.api.run('ryzom_mods', 'SelectBgPath'); return false" class="imgbutton-blue">{{>ryzom_config_ini.select_another_folder}}</a>
	</span>
</div>
-->